<div class="addInfBtn">
    <h3 class="itemTit"><span>评论信息</span></h3>
    <table class="addNewInfList">
        <tr>
            <th>所属用户</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text"
                       th:if="${comments.users!=null}" th:value="${comments.users.name}" readonly="true"/>
            </td>
        </tr>
        <tr>
            <th>所属新闻</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text"
                       th:if="${comments.news!=null}" th:value="${comments.news.title}" readonly="true"/>
            </td>
        </tr>
        <tr>
            <th>创建日期</th>
            <td>
                <input onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text"
                       class="inp-list w-200 clear-mr f-left"
                       th:value="${comments.createdate} ? ${#dates.format(comments.createdate,'yyyy-MM-dd HH:mm:ss')} :''"
                       readonly="true"/>
            </td>
        </tr>
        <tr>
            <th>评论内容</th>
            <td width="240"><textarea class="inp-list w-600 clear-mr f-left"
                                      th:text="${comments.content}" readonly="true"/></td>
        </tr>

    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 backBtn" href="javascript:closeDialog(0)">返回</a>
    </div>
</div>